/* ----- HERO ----- */

#pairingHero {
	background: url("../images/pairings_hero.jpg") left center no-repeat;
	background-size: cover;
}

.sectionTitleContainer.pairing {
    left: 44%;
}

/**** media query ****/
@media (max-width: 900px) {

   /* hero */
	#pairingHero {
		height: 40vh;
	}
	
	.sectionTitleContainer.pairing {
    	left: 36%;
	}
}

/**** media query ****/
@media (max-width: 560px) {

	.sectionTitleContainer.pairing {
    	left: 29%;
	}

}