/* ----- HERO ----- */

#stylesHero {
	background: url("../images/styles_hero.jpg") left center no-repeat;
	background-size: cover;
}


/* ----- CARDS ----- */


#barolo {
	border-top: 14px solid #CD3C5C;
}

#beaujolais {
	border-top: 14px solid #D45477;
}

#bordeaux {
	border-top: 14px solid #CD3C5C;
}

#burgundyRed {
	border-top: 14px solid #D45477;
}

#burgundyWhite {
	border-top: 14px solid #F6C164;
}

#cava {
	border-top: 14px solid #F8CA7C;
}

#chablis {
	border-top: 14px solid #F6C164;
}

#champagne {
	border-top: 14px solid #F6C164;
}

#chianti {
	border-top: 14px solid #D14869;
}

#cotesRed {
	border-top: 14px solid #C3153B;
}

#cotesWhite {
	border-top: 14px solid #F0AE30;
}

#muscadet {
	border-top: 14px solid #FCDCA9;
}

#port {
	border-top: 14px solid #C3153B;
}

#fuisse {
	border-top: 14px solid #F6C164;
}

#fume {
	border-top: 14px solid #FAD393;
}

#rioja {
	border-top: 14px solid #CA3151;
}

#sancerre {
	border-top: 14px solid #FAD393;
}

#sherry {
	border-top: 14px solid #EDA509;
}

#valpolicella {
	border-top: 14px solid #CA3151;
}



/**** media query ****/
@media (max-width: 900px) {

  /* hero */
	#stylesHero {
		height: 40vh;
	}
}

